EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyAT9uiBoeEBw1FdCG7b9rny7XjRauqqWdI"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="spookies-d4e59.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="spookies-d4e59"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="spookies-d4e59.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="200050576388"
EXPO_PUBLIC_FIREBASE_APP_ID="1:200050576388:web:852bfb9d97fc9a4a63b951"
